footer {
    background-color: #fff;
    text-align: center;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.0975);
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    padding-top: 13px;
}